<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<% if (alert) { %>
  <p><%- alert %></p><br>
<% } %>

<form style="margin-top: 1em;" method="POST">
<h1>
  <%= guild.name %>
  <button class="btnSubmit" type="submit">Save Settings</button>
</h1>
  <fieldset class="input">
    <legend>
      Prefix
    </legend>
    <input type="text" name="inputPrefix" id="inputPrefix" value="<%= settings.prefix %>" placeholder="Your prefix.">
  </fieldset>
  <fieldset class="input">
    <legend>
      Guild Name
    </legend>
    <input type="text" name="inputName" id="inputName" value="<%= settings.gname %>" placeholder="<%= guild.name %>">
  </fieldset>
  <fieldset class="input">
    <legend>
      Guild Icon
    </legend>
    <input type="file" name="inputIcon" id="inputIcon" accept="image/x-png">
    <input type="hidden" name="iconHidden" id="iconHidden" value="">
  </fieldset>
  <fieldset class="input">
    <legend>
      Welcome Channel
    </legend>
    <% // Selectbox with welcome channel %>
    <div id="channel"></div>
  </fieldset>
  <br>
</form>

<script>
  (function() {
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      document.getElementById('inputIcon').addEventListener('change', handleFileSelect, false);
    } else {
      alert('The File APIs are not fully supported in this browser.');
    }
    
    function handleFileSelect(evt) {
      console.log("inside handleFileSelect")
      var f = evt.target.files[0]; // FileList object
      var reader = new FileReader();
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          var binaryData = e.target.result;
          //Converting Binary Data to base 64
          var base64String = window.btoa(binaryData);
          document.getElementById('iconHidden').value = base64String;
        };
      })(f);
      // Read in the image file as a data URL.
      reader.readAsBinaryString(f);
    }
  })();
  $(document).ready(function() {
    var channels = JSON.parse(`<%- JSON.stringify(channels) %>`);
    var idSystemChannel = JSON.parse(`<%- JSON.stringify(idSystemChannel) %>`);
    // Selectbox
    var select = $("<select name='welChannel'></select>"); 
    for (var i = 0; i < channels.length; i++) {
      var opt = $("<option></option");
      opt.val(channels[i].id);
      opt.html(channels[i].name);
      select.append(opt);
    }
    select.val(idSystemChannel);
    $("#channel").html(select);
  });
</script>
</body>
</html>